@model DW_Final_Project.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="priceAux" class="control-label"></label>
                <input asp-for="priceAux" class="form-control" />
                <span asp-validation-for="priceAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IVA" class="control-label"></label>
                <input asp-for="IVA" class="form-control" />
                <span asp-validation-for="IVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personFK" class="control-label"></label>
                <select asp-for="personFK" class="form-control" asp-items="ViewBag.personFK"></select>
                <span asp-validation-for="personFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
