<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Application Title</title>
    <link rel="stylesheet" href="your-stylesheet.css" />
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
    <script src="your-script.js"></script>
    @RenderSection("Styles", required: false)
</head>

<style>

    .navbar-nav {
        display: flex;
        align-items: center;
    }

        .navbar-nav .nav-item {
            margin-left: 10px;
        }

        .navbar-nav .nav-link {
            padding: 10px;
        }

        .navbar-nav:last-child {
            margin-left: auto;
        }

    .container {
        display: flex;
        justify-content: center;
        width: 29% !important;
        flex-wrap: wrap;
    }

    .collapse-navbar-collapse {
        position: relative !important;
        display: grid;
        justify-content: center;
        grid-template-columns: 2fr 2fr 2fr 3fr;
        column-gap: 15px;
        height: fit-content;
        flex: 1;
        order: 2;
    }

    #navbar {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
    }

    .titles {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 10px !important;
        position: relative !important;
        font-size: 30px;
        flex: 1;
        order: 1;
    }

    .main-div {
        margin-top: 0% !important;
    }

    .cartPopup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        width: 500px;
        height: 400px;
        background-color: #fefefefe;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #cartCheckbox:checked ~ .cartPopup {
        display: block;
    }


</style>

<body>
    <header style="text-align: center;">
        <!-- Your header content goes here -->
        <!-- Start of the provided header HTML -->
        <nav class="navbar bg-light" id="navbar" expand="lg" variant="light" fixed="top">
            <div class="container">
                <h1 class="titles">
                    ÁGUA SALGADA
                </h1>
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basic-navbar-nav" aria-controls="basic-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->
                <div class="collapse-navbar-collapse">

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Produtos">Produtos</a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Sobre">Sobre</a>
                    </li>

                    <li class="nav-item">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-area="Identity" asp-page="/Account/Login">Iniciar Sessão</a>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Manage/Index">Perfil</a>
                        }
                    </li>

                </div>
            </div>
        </nav>
        
        <input type="checkbox" id="cartCheckbox" >
        <label for="cartCheckbox" >Ver Carrinho</label>

        <div class="cartPopup">
            <div id="cartModal">
                <div>
                    <div>
                        <div>
                            <h5 class="modal-title">Carrinho de Compras</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div>
                            <h4>Lista de produtos</h4>
                            <strong>
                                <p>
                                    <span style="display: inline-block; width: 60px; margin-left: 10%;">Nº</span>
                                    <span style="display: inline-block; width: 100px;">Nome</span>
                                    <span style="display: inline-block; width: 80px;">Tamanho</span>
                                    <span style="display: inline-block; width: 100px;">Quantidade</span>
                                    <span style="display: inline-block; width: 80px;">Preço</span>
                                </p>
                            </strong>
                        </div>
                        <div>
                            <span style="margin-right: auto; font-weight: bold; font-size: 20px;">Preço Total: </span>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger">Limpar Todos</button>
                            <button type="button" class="btn btn-success">Finalizar Compra</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- End of the provided header HTML -->
    </header>

    <div id="main-content">
        @RenderBody()
    </div>

    <footer>
        <!-- Your footer content goes here -->
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>